.w-100{width: 100%!important;}
.color-grey{color: grey!important;}
.color-black{color: black!important;}
.text-bold{font-weight: bold!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.text-uppercase{text-transform: uppercase!important}
.flex-row{display: flex!important; flex-direction: row!important}
.align-items-center{align-items: center!important;}
.justify-content-center{justify-content: center!important;}
.justify-content-between{justify-content: space-between!important;}
.fs-16{font-size: 16px!important;}
.fs-30{font-size: 30px!important;}
.py-20{padding: 20px 0px;}
.bg-default{background-color: #10a9e1;}
p{font-size: 14px; margin-bottom: 0px;}
#promotionSlider{margin: 20px 0px;}
#promotionSlider .carousel-inner>.item>a>img, #promotionSlider .carousel-inner>.item>img{margin: auto;}
#promotionSlider .carousel-control{background:transparent; color: grey;}
#promotionSlider .carousel-control:hover{color: black;}
.text-link{color: #10a9e1; text-transform: uppercase; cursor: pointer; letter-spacing: .5px; font-weight: 500;}
.card-item{width: 20%; margin: 5px; box-shadow: 0 0 8px 4px #e8e8e8; padding: 8px 15px; border-radius: 5px;	background-color: white;}
.card-item .card-header{height: 30px;}
.card-item .card-footer .product-name{overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.section-new-arrivals, .section-featured-products, .section-edibles{ margin-bottom: 60px; }
.section .section-header{margin-bottom: 30px;}
.btn{font-weight: 600; padding: 4px 0px; margin: 10px 0px; border: 1px solid transparent;}
.btn.btn-sm{font-size: 11px; width: 85px;}
.btn.btn-round{border-radius: 100px;}
.btn:hover{border:1px solid transparent;}
.btn:focus{border:1px solid transparent;outline: none!important; outline-offset: 0px;}
.parallax-search.parallax-menu{position: relative; padding-bottom: 85px;}
.parallax-search.parallax-menu .free-delivery{position: absolute;width: 100%;bottom: 0;background: rgba(0,0,0,.5);color: #fff;padding: 10px;font-size: 16px;font-weight: 500;letter-spacing: .5px;margin-top: 35px;text-align: center;}
#address-search-input{background-color: transparent;border: 2px solid white;border-radius: 15px;height: 50px;color: white; font-weight: 700; caret-color: white;padding-left: 40px; padding-right: 135px;font-size: 16px;}
#address-search-input::placeholder{color: white; font-weight: 700;}
.address-search{position: relative;}
.address-search .map-marker{position: absolute; left: 15px; top: 12px; font-size: 24px; color: white;}
.address-search .btn-address-search{position: absolute;right: 0px;top: 0px;height: 50px;background: white;color: black;border: 0px;border-top-right-radius: 15px;border-bottom-right-radius: 15px;width: 120px;font-size: 16px;font-weight: 700;text-transform: uppercase;}
.menu-nav-mobile a, .cart-mobile-handle a{color: white; font-size: 28px;}